# Configuración del Servidor API
API_HOST=0.0.0.0
API_PORT=8000

# Configuración de Base de Datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432

# ==========================================
# CONFIGURACIÓN DE SEGURIDAD (ADMIN)
# ==========================================
ADMIN_PASSWORD=mi_contraseña_secreta_123
JWT_SECRET_KEY=clave_secreta_super_larga_y_dificil_de_adivinar_123
DB_NAME=sig_educacion
DB_USER=postgres
DB_PASSWORD=
