# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Entorno y Secretos
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
.gemini/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
